<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mikkeyf.bsmall.dao.CartMapper">
    <resultMap id="BaseResultMap" type="com.mikkeyf.bsmall.pojo.Cart">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="selected" jdbcType="INTEGER" property="selected"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, product_id, user_id, quantity, selected, create_time, update_time
    </sql>
</mapper>